.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Month-header {
  align-items: center;
  justify-content: center;
  display: flex;
}

.Header {
  background-color: #3a79f7;
  width: 105px;
}

.Day-name {
  color: white;
  font-size: calc(1px + 2vmin);
  padding: 2px;
  font-weight: bold;
}

.Day {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: calc(1px + 2vmin);
  height: 90px;
  margin-right: -1px;
  margin-top: -1px;
  padding-left: 4px;
  padding-right: 1px;
  text-align: center;
  width: 106px;
}

.Day-label {
  display: flex;
  color: #3c4043;
  font-weight: 500;
  font-size: 12px;
  font-weight: bold;
}

.Disable-day {
  display: flex;
  color: #b7b7ad;
  font-size: 12px;
}

.Row-style-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Row-style-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.Column-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Items {
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
}

.Items ul {
  text-align: center;
  padding: 0px;
  list-style-type: none;
}

.Items p {
  color: #8795b3;
}

.Items li {
  border-radius: 3px;
  white-space: nowrap;
  width: 95%;
  border-radius: 3px;
  padding-left: 2px;
  padding-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.Items li:hover {
  cursor: pointer;
}

.Title {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.previous {
  background-color: #f1f1f1;
  color: #5f6368;
  width: 40px;
  height: 40px;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin: 3px;
}

.previous:hover {
  cursor: pointer;
  background-color: #ddd;
  color: #5f6368;
}

.round {
  border-radius: 50%;
}

.action-button {
  float: right;
  margin-right: 5px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.remove {
  margin: 0px
}

.holiday {
  background-color: #ececec;
}

.holiday-label {
  color: #3a6ac8;
}

.inputField {
  padding: 3px;
}

.edit {
  margin-right: 12px;
}

.top-right-buttons {
  position: absolute;
  right: 18px;
  top: 10px;
  font-size: 22px;
  color: #5f6368
}

.top-right-buttons-primary {
  margin-right: 30px;
}

.top-right-buttons:hover {
  cursor: pointer;
}

.title-day {
  text-align: center;
}

.title-day-name {
  font-size: 15px;
  color: #70757a;
  margin: 0px;
}

.title-day-number {
  margin: 0px;
  font-size: 25px;
}

.list-reminders {
  max-height: 200px;
  overflow: auto;
}

.overflow {
  cursor: pointer;
}

.body-width {
  width: 140px;
}

.reminder-color-tag {
  background-color:
  blue;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 55px;
  left: 15px;
  border-radius: 2px;
}

.title-show-reminder {
  font-size: 22px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 10px;
}

.title-small-show-reminder {
  font-size: 17px;
  font-weight: 400;
  padding-right: 5px;
  line-height: initial;
}

.text-show-reminder {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .2px;
  color: #3c4043;
  line-height: initial;
}

.date-show-reminder {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .2px;
  line-height: 20px;
  color: #3c4043;
  display: block;
  padding-top: 8px;
}

.show-content {
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 40px;
  padding-left: 28px;
}

.no-padding {
  padding: 0px;
}

.date-picker-style {
  font-size: 16px;
  font-weight: 400;
  color:#3c4043;
  word-wrap: break-word;
  padding: 5px;
  width: 98%;
}

.create-form {
  text-align: center;
}

.create-form-body {
  margin-top: 0px;
  margin-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.palette {
  padding-left: 10px;
}

.create-button {
  margin-right: 13px;
}